* {
  padding: 0;
  margin: 0;
}
/* =================================================
                    Base Styling 
  ==================================================*/
.container {
  padding: 20px;
  margin: auto;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

h2 {
  padding-bottom: 1em;
}

/* =================================================
                    Navigation
  ==================================================*/
.nav {
  display: inline-block;
  height: 30%;
  width: 100%;
}
.nav .user-name {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em;
  margin-bottom: 0.1em;
}

.nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav li {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.1em;
  border-radius: 30px;
}

.nav li a {
  font-size: 1.3em;
  font-weight: 600;
}

/* =================================================
                    Header
  ==================================================*/
header {
  display: flex;
  flex-direction: column;
}

header .user-pic {
  order: 1;
  padding: 1em;
}

header .about-me {
  order: 2;
  padding: 1em 0 3em;
}

header .about-me p {
  font-size: 1.1em;
  font-weight: 450;
}
/* =================================================
                    Protfolio
  ==================================================*/

.project img {
  width: 100%;
  margin: 0.5em;
}

.project p {
  margin-bottom: 2em;
}

/* =================================================
                    Contact
  ==================================================*/
#contact {
  margin-bottom: 2em;
}

#contact h2 {
  padding-bottom: 0.5em;
}

#contact .contact-info {
  margin: 0.8em 0;
}

/* =================================================
                    Footer
  ==================================================*/
footer {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
}

footer ul li {
  padding: 0 0.5rem;
}

/* =================================================
                    Protfolio
  ==================================================*/
@media (min-width: 756px) {
  #header ul {
    flex-direction: row;
    justify-content: center;
  }

  #header ul li {
    display: inline-block;
    width: auto;
    padding: 0.5em 3em;
    margin: 0;
    border-radius: 0;
  }
  header {
    flex-direction: row;
    align-items: center;
  }

  header .about-me {
    order: 1;
    width: 50%;
    padding: 0 2em;
  }

  header .user-pic {
    order: 2;
    width: 50%;
  }

  #portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .project {
    width: 45%;
    padding: 0 1em;
  }
}

/* Large Screen */

@media (min-width: 1200px) {
  #header {
    display: flex;
    justify-content: space-around;
  }

  #header .user-name {
    width: auto;
  }

  #header ul {
    width: auto;
  }

  #header ul li {
    padding: 1em;
  }

  .project {
    width: 30%;
  }
}
